## Java
.DS_Store
*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij
libs/armeabi/
libs/armeabi-v7a/
libs/x86/
gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml
android/libs

## Gradle
versions.json
.gradle
build/